.bg-fundo {
    background-image: url("../../assets/img/background.jpg");
    background-size: cover;
    height: auto;
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: grayscale(1) brightness(0.2);
}

.myFavorites-wrapper{
    background: #2A2A2A;
    padding: 10px;
    position: relative;
    height: auto;
    width: 90%;
    margin: 50px auto;
}

.myFavoriteHeroes{
    display: flex;
    flex-wrap: wrap;
}

.favoriteHero-wrapper{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin: 10px;
    background-color: #474747;
    max-width: 150px;
}

.favoriteHero{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.favoriteHero-wrapper:hover{
    transform: scale(1.05);
    box-shadow: 8px 5px 5px black;
    transition: all ease-out 0.25s;
}

.name-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myFavoriteComics{
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}

.comic{
    max-width: 200px;
    cursor: pointer;
    margin: 15px;
}

.comic:hover{
    transform: scale(1.1);
    transition: all ease-out 0.25s;
    box-shadow: 10px 5px 5px black;
}